{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<br/><br/><br/><br/><br/>
<div class="container">
  <div class="col-md-12 text-center">
    <div class="col-md-push-6 col-xs-6">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        <table class="col-md-12" style="border: white;">
          {% csrf_token %}
          <tr>
            <td>{{ form.as_p }}</td>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </tr>  
          <tr><td></td></tr>
          <tr>  
            <td><button class="button" type="submit">{% trans "Sign Up" %} &raquo;</button></td>
          </tr>     
      </table>        
    </form>
    </div>
  </div>  
</div>
{% endblock %}
